@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Theme variables */
:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* Tailwind inline theme extension */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-sans: var(--font-montserrat), sans-serif;
  --font-orbitron: var(--font-orbitron), sans-serif;

   --tracking-tightest: -0.075em;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.35em; /* changed from 0.1em */
  /* optional extra values with unique names */
  --tracking-ultra: 0.1em;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif; 
}

.font-sarina {
  font-family: 'Sarina', cursive;
}